<% content_for :body_content_left do %>
  <div class="conteudo">
  
    <div class="slides">
	  <h3>Slides</h3>
	  <% studies.each do |study| %>
	    <h4><%= study.title %></h4>
	    <p class="clear"><%= truncate(sanitize(study.text, :tags=>""), :length => 190) %> </p>
	    <%= link_to "Download", study.link.url if study.link %>
	  <% end %>
	</div>
	
	<div class="videos">
	  <h3>Videos</h3>
	  <% studies.each do |study| %>
	    <h4><%= study.title %></h4>
	    <p class="clear"><%= truncate(sanitize(study.text, :tags=>""), :length => 190) %> </p>
	  <% end %>
	</div>
	
  </div>
<% end %>

<% content_for :body_content_right do %>
<h2><span>Categorias</span></h2>
<ul class="see-too">
<% @categorias_de_conteudo.each do |categoria| %>
    <%= link_to study_category_path(categoria), :title=>"" do %>
    <li>
        <h3> <%=  truncate(categoria.name, :length => 19)  %>  </h3>
        <%= image_fu(categoria.image, nil) %>
        
    </li>
    <% end %>
  <% end %>

<% end %>
</ul>
<%= render :partial => "/shared/content_page" %>
