<div class="main">  <!--Main-->
  <div class="back-right"> <!--Back-right-->
    <div class="wrapper"> <!--Wrapper-->

      <div class="col-1">
        <% @page.children.each do |child| %>
          <% if child.show_in_menu %>
            <div class="item">
              <h2><%= child.title %></h2>
              <%= raw child.content_for :side_body %>

              <% if not child.skip_to_first_child %>
                <%= link_to "Leia mais", page_path(child), :class=>"see-more", :title=>"" %>
              <% end %>
              <%= link_to "Editar", edit_admin_page_path(child), :title=>"", :class => "edit" if user_signed_in? %>
            </div>
          <% end %>
        <% end %>

      </div>


      <div class="col-2">
        <div>
          <div class="item">
            <%= render :partial => "/shared/updates" %>
          </div>

          <div class="item">
            <%= render :partial => "/shared/calendar" %>
          </div>
        </div> 
      </div>
    </div> <!--End Wrapper-->
  </div>
</div>  <!--End Main-->
