<!DOCTYPE html>
<%= render :partial => "/shared/html_tag" %>
<% site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true}) -%>
<%= render :partial => "/shared/head" %>
<body>
  <%= render :partial => "/shared/ie6check" if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>

  <div id="page-top"> <!--Page-top-->
    <div id="page-bottom"> <!--Page-bottom-->
      <div id="page_container"> <!--Page_container-->

        <div id="header"> <!--Header-->
          <%= render :partial => "/shared/header" -%>

          <div class="page-call">
            <p>Lorem ipsum dolor sit amet</p>
            <p class="txt-important">Donec et nisl non tellus aliquet nisl non</p>
          </div>
        </div>  <!--End Header-->

        <div id="content">
          <%= yield %>
        </div>	

        <div id="footer" class="clear"> <!--Footer-->
          <div id="footer-content"> <!--Footer-content-->

            <div id="footer-title">Site Info.</div>

            <p>2011 &copy; AC | <span>All rights reserved.</span></p>

            <div id="links">
              <%= render :partial => "/shared/footer" -%>

              <ul id="help-footer" class="clear">
                <li><a href="login.html" title="Login">Login </a><span>&bull;</span></li>
                <li><a href="cadastro.html" title="Cadrasto">Cadrasto </a><span>&bull;</span></li>
                <li><a href="ajuda.html" title="Ajuda">Sobre</a></li>
              </ul>
            </div>
          </div> <!--Footer-content-->
        </div>  <!--End Footer-->       

      </div> <!--End Page_container-->
    </div> <!--End Page-bottom-->
  </div> <!--End Page-top-->
</body>
</html>
